.content
  %h1 No More Gifs

%iframe#ytplayer{:allowfullscreen => "", :frameborder => "0", :height => "360", :src => "https://www.youtube.com/embed/Zhawgd0REhA?autoplay=1&controls=0&loop=1&modestbranding=1&showinfo=0&autohide=1", :type => "text/html", :width => "640"}/